@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@media (prefers-color-scheme: dark) {
     body {
      margin: 0;
      padding-bottom: 0%;
      font-family: 'Ubuntu';
    }
}
@media (prefers-color-scheme: dark) {
    a, h1, h2, h3, h4, p, li {
        color: white;
    }
    html {
        background-color: #000;
        padding-bottom: 3rem;
        margin: 0;
        padding-bottom: 0%;
        font-family: 'Ubuntu';
    }
    #app, #formMessage {
        background-color: #000;
    }
    input[type=text], input[type=email], textarea {
        width: 200px;
        background: black;
        color: white;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus, input[type=email]:focus, textarea:focus {
        width: 100%;
        background: black;
        color: white;
    }

    .featurette-divider {
        color: white;
        width: 75%;
    }
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 50px;
    text-align: right;
}

.arrow:hover {
    transform: scale(1.5) rotate(0deg);
}
.rotated {
    transform: rotate(180deg);
}
.rotated:hover {
    transform: rotate(180deg) scale(1.5);
}